<h1>Welcome to Auto Test Runner!</h1>
<p>Auto Test Runner is designed to run your unit and integration tests in the background. This allows you to develop faster and with the confidence you need.</p>

<div>
  <span>How does this work?</span>
  <ul>
    <li>First setup the API using this guide <a>this doesn't exist yet</a></li>
    <li>Then setup the windows service using this guide <a>this doesn't exist yet</a></li>
    <li>Once the site is running, add a project path to be watched</li>
    <li>Build the test project, give it a few seconds (depending on how long it takes to run your tests) and you will receive a windows notification that will link you back to the site.</li>
  </ul>
</div>

<add-project></add-project>

