<h1>Add Project to be watched</h1>

<p>Please enter in a file path to be watched</p>

<div>
  <div class="alert alert-danger" *ngIf="isValidFilePath != null && !isValidFilePath">
    Warning this is not a valid file path
  </div>

  <div class="alert alert-success" *ngIf="projectId != null" routerLink="/projects/{{projectId}}/reports">
    Successfully add project to watcher. Click here to view reports.
  </div>

  <input type="text" [(ngModel)]="fullPath" (change)="validateFilePath($event)">

  <div class="mt-2">
    <button class="btn btn-success" (click)="addProjectToBeWatched()" [disabled]="isValidFilePath === null || !isValidFilePath ? true : false">
      Submit
    </button>
  </div>

  <div *ngIf="isProjectWatcherCreated ">
    <h1>Winning!!!!</h1>
  </div>

</div>
